@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .sidebar-buttons {
        @apply p-2 my-2 hover:bg-tertiary rounded-md
               hover:border-b-2 hover:border-black
               transition-all duration-300 ease-in
               flex items-center; 
        /* relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
                bg-gray-600 text-green-500
                hover:bg-green-600 hover:text-white
                rounded-3xl hover:rounded-xl
                transition-all duration-300 ease-in 
                cursor-pointer; */
    }
    .category-container {
        @apply border-2 border-black rounded-lg m-2 py-2 w-32 bg-quatiary
               flex flex-col items-center
               hover:bg-tertiary;
    }
    .sidebar-text {
        @apply ml-2 hidden md:inline;
    }
    .top-nav-items {
        @apply m-3 font-bold hover:text-gray-600;
    }
    .toggle-button {
        @apply h-1 w-full bg-black border-r-8;
    }
    .item-buttons {
        @apply p-2 text-primary border-2 border-primary rounded-lg hover:bg-primary hover:text-white;
    }
    .item-buttons-activated {
        @apply p-2 border-2 border-green-700 text-green-700 rounded-lg hover:bg-green-700 hover:text-white;
    }
    .h-style {
        @apply font-bold text-2xl md:text-4xl;
    }

    .form-style {
        @apply border-2 border-black rounded-2xl bg-secondary my-4 p-4;
    }

    .input-container{
        @apply my-4 flex flex-col;
    }

    .form-button{
        @apply border-2 border-black rounded-lg p-2 hover:bg-black hover:text-secondary;
    }

    .input-style {
        @apply border-2 border-black rounded-2xl p-2;
    }

    .old-price{
        @apply font-thin text-gray-500 line-through italic;
    }
}