@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .sidebar-buttons {
        @apply p-2 my-2 hover:bg-tertiary rounded-md
               hover:border-b-2 hover:border-black
               transition-all duration-300 ease-in
               flex items-center; 
        /* relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
                bg-gray-600 text-green-500
                hover:bg-green-600 hover:text-white
                rounded-3xl hover:rounded-xl
                transition-all duration-300 ease-in 
                cursor-pointer; */
    }
    .category-container {
        @apply border-2 border-black rounded-lg m-2 py-2 w-32 bg-quatiary
               flex flex-col items-center
               hover:bg-tertiary;
    }
    .sidebar-text {
        @apply ml-2 hidden md:inline;
    }
    .top-nav-items {
        @apply m-4 font-bold hover:text-gray-600;
    }
    .toggle-button {
        @apply h-1 w-full bg-black border-r-8;
    }
}